<div class="collection-landing-wrapper">
	<div class="container">

		<div class="col-sm-12">
			{% include 'filter-menu' %}
		</div>
		<div class="col-sm-12 col-md-12">
		
			 <h2>{{ collection.title }}</h2>
           {% if collection.description != blank %}
              <div class="rte">
                {{ collection.description }}
              </div>
            {% endif %}
           
			{% if collection.handle == collectionHandle %}
				{% for collection in collections %}
				  {% if collection.handle contains collectionPassion %}
				    {% unless collection.handle == collectionHandle %}
				    <div class="col-sm-3 col-sm-6">				
					    <div class="product-item">
					      <div class="product-item-media">
					        <a href="{{ collection.url }}">
					          <img src="{{ collection.image | collection_img_url: 'grande' }}" alt="{{ collection.title | escape }}" />
					          <h2>{{ collection.title }}</h2> 
					        </a>
					      </div>
					    </div>
				    </div>
				    {% endunless %}
				  {% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

