<ul class="site-nav site-navigation small--hide{% if compress == true %} site-nav--activate-compress{% endif %}" role="navigation" aria-label="Primary">
  {% for link in main_menu.links %}
    {%- assign child_list_handle = link.title | handleize -%}
    {%- assign has_dropdown = false -%}
    {% if linklists[child_list_handle].links != blank %}
      {%- assign has_dropdown = true -%}
    {% endif %}

    <li
      class="{{ link.title | handleize }} site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless%}"
      {% if has_dropdown %}aria-haspopup="true"{% endif %}>


      {% if has_dropdown %}
      <span class="site-nav__link">
        {{ link.title }}
        {% if has_dropdown %}
          {% include 'icon-chevron-down' %}
        {% endif %}
      </span>
      {% else %}
      <a href="{{ link.url }}" class="site-nav__link">
        {{ link.title }}
        {% if has_dropdown %}
          {% include 'icon-chevron-down' %}
        {% endif %}
      </a>
      {% endif %}

      {% if has_dropdown %}
        <ul class="site-nav__dropdown text-left">
          {% for childlink in linklists[child_list_handle].links %}
          {%- assign grand_child_list_handle = childlink.title | handle -%}
            {%- assign has_sub_dropdown = false -%}
            {% if linklists[grand_child_list_handle].links != blank %}
              {%- assign has_sub_dropdown = true -%}
            {% endif %}

            <li class="{% if childlink.active %}site-nav--active{% endif %}{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level {% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                {{ childlink.title | escape }}
                {% if has_sub_dropdown %}
                  {% include 'icon-chevron-down' %}
                {% endif %}
              </a>
              {% if has_sub_dropdown %}
                <ul class="site-nav__deep-dropdown">
                  {% for grandchildlink in linklists[grand_child_list_handle].links %}
                    <li>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
