{% form 'customer' %}
  {% if form.posted_successfully? %}
    <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
  {% endif %}
  {% if form.context == 'popup' %}
    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}
  {% endif %}

  <label for="Email-{{ section_id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
  <input type="hidden" name="contact[tags]" value="prospect,newsletter">
  <input type="hidden" name="contact[context]" value="popup">
  <div class="input-group newsletter__input-group">
    <input type="email" style="width: 100%;" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ section_id }}" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
    <button type="submit" class="btn" style="margin-top: 10px;" name="commit">Subscribe</button>
    
    {% comment %}
    <span class="input-group-btn">
      <button type="submit" class="btn" name="commit">
        asdfadsf
        <span class="form__submit--large">{{ 'general.newsletter_form.submit' | t }}</span>
        <span class="form__submit--small">
          {% include 'icon-arrow-right' %}
        </span>
      </button>
    </span>
    {% endcomment %}
    
  </div>
{% endform %}
