<!doctype html>
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  {%- include 'bold-product' with product, hide_action: 'header' -%}
  {% if product.metafields.inventory.ShappifyHidden == "true" %} <meta name="robots" content="noindex"> {% endif %}
{% include 'limespot' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- include 'seo-title' -%}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- include 'social-meta-tags' -%}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {{ content_for_header }}

  {% include 'bold-common' %}

  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' | script_tag }}

  {% include 'defer-script' with 'vendor.js' %}

  {% if settings.enable_currencies %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="/services/javascripts/currencies.js" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="/services/javascripts/currencies.js"></script><![endif]-->
    {% include 'defer-script' with 'jquery.currencies.min.js' %}
  {% endif %}

  {% include 'defer-script' with 'theme.js' %}

  {%- if template contains 'customers' -%}
    {% include 'defer-shopify-script' with 'shopify_common.js' %}
  {%- endif -%}
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="{{ settings.animate_page_transitions }}">

  {% if settings.animate_page_transitions %}
    <script type="text/javascript">
    window.setTimeout(function() { document.body.className += " loaded"; }, 25);
    </script>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
<limespot></limespot>
      </main>

    <div id="insta-feed"></div>

      {% section 'footer' %} 

    </div>
  </div>

  {% section 'newsletter-popup' %}

  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if settings.enable_currencies %}
    <span
      id="CurrencyData"
      class="hide"
      data-shop-currency="{{ shop.currency }}"
      data-default-currency="{{ settings.default_currency | default: shop.currency }}"
      data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
  {% endif %}

  {% include 'qty-selector-template' %}
  {% include 'video-modal' %}
  {% include 'collection-filter-v2' %}
<script type="text/javascript">
function deferFilterjQuery() {
  if (window.jQuery) {
    $(function(){
      {% unless settings.pt_mobile_enable == false %}
      $('body').on('click', '.filter-menu .pt-mobile-header a', function(e){
          if(e.handled !== true) {
            $('.filter-menu .filter-group').not('.has_group_selected').find('h4,.filter-clear').toggle('fast');
            {% if settings.pt_accordion_enable == false %}
            $('.filter-menu .filter-group').not('.has_group_selected').find('ul').toggle('fast');
            {% else %}
            {% if settings.pt_accordion_mode == 'none' %}
            $('.filter-menu .filter-group.expanded').toggleClass('expanded').find('ul,.filter-clear').hide();
            {% else %}
            $('.filter-menu .filter-group').not('.has_group_selected').find('ul').toggle('fast');
            {% endif %}
            {% endif %}
            $('#nav-toggle').toggleClass('active');
            e.preventDefault();
            e.handled = true;
          }
      });
      
      var windowWidth = window.innerWidth;
        $(window).resize(function() {
          if (window.innerWidth != windowWidth) {
              windowWidth = window.innerWidth;

            if (windowWidth > {{ settings.pt_mobile_max_width  | default: '767' | replace: 'px', '' }}) {
              $('.filter-menu .filter-group').find('h4, ul, .filter-clear').show();
              $('#nav-toggle').removeClass('active');
            } else {
              $('#nav-toggle').removeClass('active');
              $('.filter-menu .filter-group').not('.has_group_selected').find('h4, ul, .filter-clear').hide();
            }
        }
      });
      {% endunless %}

      {% unless settings.pt_accordion_enable == false %}
      $('.filter-menu h4').on('click', function(e){
          $(this).closest('.filter-group').not('.has_group_selected, .refine-header').toggleClass('expanded').find('ul,.filter-clear').toggle('fast');
          e.preventDefault();
      });

      if ($( window ).width() > {{ settings.pt_mobile_max_width  | default: '767' | replace: 'px', '' }}) {
         {% if settings.pt_accordion_mode == 'all' %}
         $('.filter-menu .filter-group').not('.has_group_selected, .refine-header').toggleClass('expanded').find('h4, ul, .filter-clear').show();
         {% elsif settings.pt_accordion_mode == 'first' %}
         $('.filter-menu .filter-group').not('.has_group_selected, .refine-header').first().toggleClass('expanded').find('h4, ul, .filter-clear').show();
         {% endif %}
      }
      {% endunless %}
    });
  }
  else {
    setTimeout(function() { deferFilterjQuery() }, 50);
  }
}

deferFilterjQuery();
</script>
<!-- Bold: Loyalty Points - Step 1 -->
{% include 'bold-loyalties-welcome-modal' %}
{% include 'bold-loyalties-callout' %}
<!-- // end bold code -->
</body>
</html>
