<div class="page-width page-content">

  {% include 'breadcrumbs' %}

  <div class="grid">
    <div class="grid__item">
      {% if cart.item_count > 0 %}
        <header class="section-header">
          <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
        </header>

        <form action="/cart" method="post" novalidate class="cart">

          <div class="cart__row small--hide cart__header-labels">
            <div class="grid--full">
              <div class="grid__item medium-up--two-fifths medium-up--push-three-fifths">
                <div class="grid--full">
                  <div class="grid__item one-third small--half text-center">
                    {{ 'cart.label.quantity' | t }}
                  </div>
                  <div class="grid__item two-thirds small--half text-right">
                    {{ 'cart.label.total' | t }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% for item in cart.items %}
          {% include 'bold-cart-item' with item %}
            <div class="cart__row">
              <div class="grid--full cart__row--table-large">

                <div class="grid__item medium-up--three-fifths">
                  <div class="grid">

                    <div class="grid__item one-quarter">
                      <a href="{{ item.url | within: collections.all }}" class="cart__image">
                        <img src="{{ item | img_url: '300x300' }}" alt="{{ item.title | escape }}">
                      </a>
                    </div>

                    <div class="grid__item three-quarters">
                      <a href="{{ item.url }}" class="h4 cart__product-name">
                        {{ item.product.title }}
                      </a>
                      {% unless item.variant.title contains 'Default' %}
                        <p class="cart__product-meta">
                          {{ item.variant.title }}
                        </p>
                      {% endunless %}

                      {% assign property_size = item.properties | size %}
                      {% if property_size > 0 %}
                        {% for p in item.properties %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                            {{ p.first }}:

                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}

                            <br>
                          {% endunless %}
                        {% endfor %}
                      {% endif %}

                      <p class="cart__product-meta">
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small">
                          {{ 'cart.general.remove' | t }}
                        </a>
                      </p>
                    </div>

                  </div>
                </div>

                <div class="grid__item medium-up--two-fifths">
                  <div class="grid--full cart__row--table">

                    <div class="grid__item one-third text-center">

                      <label for="updates_{{ item.key }}" class="visually-hidden">{{ 'cart.label.quantity' | t }}</label>
                      <input type="number" name="updates[]" id="updates_{{ item.key }}" class="cart__product-qty" value="{{ item.quantity }}" min="0" data-id="{{ item.key }} {{ bold_qty_attr }}">

                    </div>

                    <div class="grid__item two-thirds text-right">
                      {% if item.original_line_price != item.line_price %}
                        <small class="cart__price cart__price--strikethrough">{{ item.original_line_price | money }}</small>
                      {% endif %}
		
                      <span class="cart__price">{{ item.price | money }}</span>
						<!-- Bold: Loyalty Points - Step 5 -->
 <span class="bold-loyalties-cart-points-{{forloop.index}}"></span>
<!-- // end bold code -->
                      {% assign discounts_size = item.discounts | size %}
                      {% if discounts_size > 0 %}
                        {% for discount in item.discounts %}
                          <small class="cart__discount">{{ discount.title }}</small>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}

          <div class="cart__row">
            <div class="grid--full cart__row--table-large">
              {% comment %}
                Optional, add a textarea for special notes
                  - Your theme settings can turn this on or off. Default is on.
                  - Make sure you have name="note" for the message to be submitted properly
              {% endcomment %}
              {% if settings.cart_notes_enable %}
                <div class="grid__item medium-up--seven-twelfths">
                  <div class="cart__note">
                    <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                  </div>
                </div>
              {% endif %}
              <div class="grid__item medium-up--five-twelfths text-center medium-up--text-right{% unless settings.cart_notes_enable %} medium-up--push-seven-twelfths{% endunless %}">
                <div class="grid--full cart__row--table">
                  <div class="grid__item one-half medium-up--two-thirds medium-up--text-center">
                    <p class="h4 cart__subtotal">{{ 'cart.general.subtotal' | t }}</p>
                  </div>
                  <div class="grid__item one-half medium-up--one-third">
                    <p class="h4 cart__subtotal">{{ cart.total_price | money }}</p>
                  </div>
                </div>

                {% if cart.total_discounts > 0 %}
                  {% assign cartTotalDiscounts = cart.total_discounts | money %}
                  <p class="cart__savings">{{ 'cart.general.savings_html' | t: savings: cartTotalDiscounts }}</p>
                {% endif %}
                <small>
                  {{ 'cart.general.shipping_at_checkout' | t }}<br />
                  {% if settings.enable_currencies %}
                  {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
                  {% endif %}
                </small>
                <button type="submit" name="update" class="btn--secondary update-cart">{{ 'cart.general.update' | t }}</button>
                <button type="submit" name="checkout" class="btn cart__checkout">
                  {{ 'cart.general.checkout' | t }}
                </button>
                <!-- Bold: Loyalty Points - Step 5.1 -->
                 <p class="bold-loyalties-cart-earn"></p>
                <!-- // end bold code -->
                {% if additional_checkout_buttons and settings.cart_type != 'drawer' %}
                  <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
                {% endif %}
              </div>
            </div>

          </div>

        </form>

      {% else %}
        <header class="section-header">
          <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
          <p>{{ 'cart.general.empty' | t }}</p>
          <p class="rte">{{ 'cart.general.continue_browsing_html' | t }}</p>
        </header>
      {% endif %}
    </div>
  </div>
</div>
<!-- Bold: Loyalty Points - Step 5.2 -->
{% if shop.metafields.bold_loyalties.active == 1 %}
 <script src="//loy.boldapps.net/front_end/cart_js?shop={{shop.domain}}"></script>
{% endif %}
<!-- // end bold code -->