{% assign collectionHandle = collection.handle %}

{% assign collectionState = collection.handle | split: '-' %}

{% assign collectionPassion = collectionState[0] | append: "-college-" %}



  {% include 'collection-passion' %}