{% assign collectionHandle = collection.handle %}

{% assign collectionState = collection.handle | split: '-' %}

{% assign collectionPassion = collectionState[2] %}




{% include 'collection-college-division' %}
