{% assign collectionHandle = collection.handle %}

{% assign collectionState = collection.handle | split: '-' %}

{% assign collectionPassion = collectionState[0] | append: "-cause-" %}

<div class="collection-landing-wrapper">
	<div class="container">
		<div class="col-md-2">
			{% include 'filter-menu' %}
		</div>
		<div class="col-md-10">
           {% if collection.description != blank %}
              <div class="rte">
                {{ collection.description }}
              </div>
            {% endif %}
            <h2>{{ collection.title }}</h2>
			{% if collection.handle == collectionHandle %}
				{% for collection in collections %}
				  {% if collection.handle contains collectionPassion %}
				    {% unless collection.handle == collectionHandle %}
				    <div class="col-sm-3 col-sm-6">				
					    <div class="product-item">
					      <div class="product-item-media">
					        <a href="{{ collection.url }}">
					          <img src="{{ collection.image | collection_img_url: 'grande' }}" alt="{{ collection.title | escape }}" />
					        </a>
					      </div>
					    </div>
				    </div>a
				    {% endunless %}
				  {% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

