{% if collection.handle == "texas" %}
	{% for collection in collections %}
	  {% if collection.handle contains 'texas-passion-' %}
	    {% unless collection.handle == 'texas' %}
	    <div class="product-item">
	      <div class="product-item-media">
	        <a href="{{ collection.url }}">
	          <img src="{{ collection.image | collection_img_url: 'grande' }}" alt="{{ collection.title | escape }}" />
	        </a>
	        <div class="product-item-cta">
	          <a href="{{ collection.url }}" class="button">View now</a>
	        </div>
	      </div>
	      <div class="product-item-info">
	        <a href="{{ collection.url }}">
	          <p>
	            <span class="product-item-title">{{ collection.title | remove: "looks" | remove: "Looks" | remove: "Girls" | remove: "girls" }}</span>
	          </p>
	        </a>
	      </div>
	    </div>
	    {% endunless %}
	  {% endif %}
	{% endfor %}
{% endif %}